
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}


.choices {
    padding: 1rem;
    margin: 0.5rem 0;
    font-size: smaller;
    display: flex;
    flex-wrap: wrap;
}

.options {
  border: 1px dashed royalblue;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgb(143, 143, 143);
  margin: 2rem;
}

.order {
  display: flex;
  align-items: flex-start;
}

.order button {
  background-color: coral;
  }
  
  .customOrderDisplay {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: auto;
  }

.dropDown {
  width: 15rem;
}